.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.button {
  font-family:'Segoe UI';
  background-color: #04AA6D; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 1px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button:hover {
  background-color: #48c1df; /* Green */
  transition-duration: 500ms;
}

.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #04AA6D;
}

.button1:hover {
  background-color: #04AA6D;
  color: white;
}

.button2 {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}

.button2:hover {
  background-color: #008CBA;
  color: white;
}

.button3 {
  background-color: white; 
  color: black; 
  border: 2px solid #d82525;
}

.button3:hover {
  background-color: #d82525;
  color: white;
}

.logo {
  display: block;
  height: 10%;
  width: 10%;
  /* size: 10px; */
}

.forms {
  /* display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;*/
  border: 1px solid black;
  text-align: center;
  margin: auto;
  /* height: 50%;
  width: auto; */
}

body {
  margin: 0;
  padding: 0;
}

.footer {
  position: absolute;
  width: 100%;
}